CoffeeSearch/CoffeeSearch/CoffeeSearch/Service References/coffeeSearch/CoffeeSearch1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12354/CoffeeSearch.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CoffeeSearch" />
  <xs:element name="coffeeSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSearch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="coffeeSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coffeeSearchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="theStringList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CoffeeSearch" minOccurs="0" name="cList" nillable="true" type="q1:ArrayOfcoffeeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="theStringListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theStringListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="theList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="theListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="maketheList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="maketheListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CoffeeSearch" minOccurs="0" name="maketheListResult" nillable="true" type="q2:ArrayOfcoffeeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>