CoffeeSearch/CoffeeSearch/CoffeeSearch/Service References/coffeeSearch/CoffeeSearch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CoffeeSearch" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12354/CoffeeSearch.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12354/CoffeeSearch.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12354/CoffeeSearch.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CoffeeSearch" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICoffeeSearch_coffeeSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:coffeeSearch" />
  </wsdl:message>
  <wsdl:message name="ICoffeeSearch_coffeeSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:coffeeSearchResponse" />
  </wsdl:message>
  <wsdl:message name="ICoffeeSearch_theStringList_InputMessage">
    <wsdl:part name="parameters" element="tns:theStringList" />
  </wsdl:message>
  <wsdl:message name="ICoffeeSearch_theStringList_OutputMessage">
    <wsdl:part name="parameters" element="tns:theStringListResponse" />
  </wsdl:message>
  <wsdl:message name="ICoffeeSearch_theList_InputMessage">
    <wsdl:part name="parameters" element="tns:theList" />
  </wsdl:message>
  <wsdl:message name="ICoffeeSearch_theList_OutputMessage">
    <wsdl:part name="parameters" element="tns:theListResponse" />
  </wsdl:message>
  <wsdl:message name="ICoffeeSearch_maketheList_InputMessage">
    <wsdl:part name="parameters" element="tns:maketheList" />
  </wsdl:message>
  <wsdl:message name="ICoffeeSearch_maketheList_OutputMessage">
    <wsdl:part name="parameters" element="tns:maketheListResponse" />
  </wsdl:message>
  <wsdl:portType name="ICoffeeSearch">
    <wsdl:operation name="coffeeSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoffeeSearch/coffeeSearch" message="tns:ICoffeeSearch_coffeeSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoffeeSearch/coffeeSearchResponse" message="tns:ICoffeeSearch_coffeeSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="theStringList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoffeeSearch/theStringList" message="tns:ICoffeeSearch_theStringList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoffeeSearch/theStringListResponse" message="tns:ICoffeeSearch_theStringList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="theList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoffeeSearch/theList" message="tns:ICoffeeSearch_theList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoffeeSearch/theListResponse" message="tns:ICoffeeSearch_theList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="maketheList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoffeeSearch/maketheList" message="tns:ICoffeeSearch_maketheList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoffeeSearch/maketheListResponse" message="tns:ICoffeeSearch_maketheList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICoffeeSearch" type="tns:ICoffeeSearch">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="coffeeSearch">
      <soap:operation soapAction="http://tempuri.org/ICoffeeSearch/coffeeSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="theStringList">
      <soap:operation soapAction="http://tempuri.org/ICoffeeSearch/theStringList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="theList">
      <soap:operation soapAction="http://tempuri.org/ICoffeeSearch/theList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="maketheList">
      <soap:operation soapAction="http://tempuri.org/ICoffeeSearch/maketheList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoffeeSearch">
    <wsdl:port name="BasicHttpBinding_ICoffeeSearch" binding="tns:BasicHttpBinding_ICoffeeSearch">
      <soap:address location="http://localhost:12354/CoffeeSearch.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>