CoffeeOrderHistoryService/OrderHistoryService/testReceipt/Service References/ServiceReference1/OrderHistory2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10242/OrderHistory.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrderHistoryService" />
  <xs:element name="yourHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="yourHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OrderHistoryService" minOccurs="0" name="yourHistoryResult" nillable="true" type="q1:OrderH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>